__Exploratory data analysis__:
Exploratory data analysis is a techinque which is used to getting the meaningful insights from the data with the help of beautiful visualizations. EDA consists of graphs,statistical details of the features,summary of the data and so on. With the help of EDA you can understand the what data is telling about. By EDA you can play with data whatever you want analyzing,summarizing,visualizing of the features.

__Automated Exploratory data analysis__:
Automated EDA requires a very few lines of code to genarate a more meaningful insights from the data. It automatically genrates a graphs,information,summary of the data.
#### Some of the automated libraries are:
1. Sweetviz.
2. Autoviz.
3. Pandas profiling.
4. Klib.
5. Lux.
6. Dtale

In this notebook we are going to explore the __sweetviz__ python library

How to install sweetviz

* pip install sweetviz

For this project i'm going to use 'Advertising.csv' data

In [3]:
#Import the libraries
import sweetviz as sv
import pandas as pd

In [4]:
#Load the data from the directory
df=pd.read_csv(r"C:\Users\Praneeth\Downloads\LinearRegression-master (1)\LinearRegression-master\LinearRegressionTillCloud\Advertising.csv")
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [5]:
df.tail()

     Unnamed: 0     TV  radio  newspaper  sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

Let's analyze our dataset using the sweetviz library

In [6]:
#Analyzing the data
advert_report=sv.analyze(df)

#Display the reports
advert_report.show_html()

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=6.0), HTML(value='')), layout=Layout(disp…

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

You can also comapre the training and test datasets with the help of sv.compare() function

Let's devide our data in to train and test

In [8]:
compare_data=sv.compare(df[:100],df[100:])
compare_data.show_html('Compare.html')

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=6.0), HTML(value='')), layout=Layout(disp…

Report Compare.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.